body {
  background-color: lightgray; }

input {
  margin-top: 30px; }

.search-team {
  margin-top: 60px 0; }
  .search-team #teamGoesHere {
    text-align: center; }

footer {
  text-align: center;
  margin: 40px 0; }
